NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=
NEXT_PUBLIC_CHAIN_ID=56
NEXT_PUBLIC_RCY_TOKEN_ADDRESS=0x...
NEXT_PUBLIC_INCINERATOR_ADDRESS=0x...
NEXT_PUBLIC_COMPACTOR_ADDRESS=0x...
NEXT_PUBLIC_SCRAP_MARKET_ADDRESS=0x...
NEXT_PUBLIC_API_URL=http://localhost:3001
